<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <%-stylesheets%>
</head>
<body>
    <% include partials/nav %>
    <%-body -%>
    <% include partials/script %>
    <%-scripts%>
</body>
</html>
